$main-color: #4A4FF2;
$dark-color: #111111;


@mixin font-bold {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin font-regular {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin font-regular-italic {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: 400;
} 
