@import 'shared-styles';
@import 'header';
@import 'footer';
@import 'body';
@import 'gallery';

.hero {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    min-height: 269px;
    margin-bottom: 10rem;

    &__quote {
        max-width: 285px;
        width: 100%;
        min-height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__line {
            width: 40px;
            height: 2px;
            background-color: $dark-color;
            opacity: 0.5;
        }
    
        &__text {
            @include font-regular-italic;
            font-size: 18px;
            line-height: 23px;
            opacity: 0.6;
            color: $dark-color;
        }
    }   
}


.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 635px;
    width: 100%;
    min-height: 245px;

    &__small-header {
        @include font-bold;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.42px;
        color: $main-color;
    }

    &__header {
        @include font-bold;
        font-size: 40px;
        line-height: 60px;
        color: $dark-color;

        &--blue {
            color: $main-color;
        }
    }
}


.services {
    min-height: 236px;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
        max-width: 583px;
        width: 100%;
        @include font-bold;
        font-size: 28px;
        line-height: 38px;
        color: $dark-color;
    }

    &__list {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 150px);
        column-gap: 70px;
        row-gap: 10px;

        &__item {
            @include font-regular;
            font-size: 18px;
            line-height: 23px;
            color: $dark-color;
            opacity: 0.6;
        }
    }
}


.awards {
    min-height: 904px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__row {
        display: grid;
        grid-template-columns: repeat(12, 65px);
        column-gap: 30px;
    }

    &__heading {
        grid-column: span 5;
        @include font-bold;
        font-size: 22px;
        line-height: 28px; 
        color: $dark-color;
    }

    &__container {
        grid-column: span 7;
    }
}

.awards__line {
    width: 100%;
    height: 2px;
    background-color: #D8D8D8;

    &:nth-of-type(1) {
        position: relative;
        top: 24px;
    }

    &:nth-of-type(3) {
        position: relative;
        bottom: 32px;
    }
}

.awards__description {
    display: flex;
    justify-content: space-between;
    min-height: 110px;

    &.top {
        margin-bottom: 80px;
    }

    &__category {
        width: 135px; 
        @include font-bold;
        font-size: 18px;
        line-height: 23px;
        color: $dark-color;
    }

    &__wrapper {
        width: 190px;
    }

    &__heading {
        @include font-regular;
        font-size: 16px;
        line-height: 20px;
        color: $dark-color;
    }

    &__text {
        @include font-regular;
        font-size: 16px;
        line-height: 26px;
        color: $dark-color;
        opacity: 0.6;
    }

    &__year {
        @include font-regular;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $dark-color;
    }
}



